<div (click)="clickBike()">
    <p-card>
        <ng-template pTemplate="header">
            <img *ngIf="bicicletta && bicicletta.img !== undefined" alt="Card" [src]="firstImage" class="image"/>
        </ng-template>
        <ng-template pTemplate="footer" class="footerStyle">
            <div class="idBike">{{bicicletta?.brand}} - {{bicicletta?.model}}</div>

            <div class="dettagliPrezzo">
                <span class="details"><br>Taglia: {{bicicletta?.size}} <br> Colore: {{bicicletta?.color}}</span>
                <div class="prezzoBox">
                    <div class="prezzo">{{prezzo}} €</div>
                </div>
            </div>      
        </ng-template>
    </p-card>
</div>