<div (click)="clickBike()">
    <p-card>
        <ng-template pTemplate="header">
            <img *ngIf="bicicletta && bicicletta.img !== undefined" alt="Card" [src]="firstImage" class="image"/>
        </ng-template>
        <ng-template pTemplate="footer" class="footerStyle">
            <div class="idBike">E-Bike {{bicicletta?.id}}</div>

            <div class="dettagliPrezzo">
                <span class="details">{{bicicletta?.brand}}, {{bicicletta?.model}}, {{bicicletta?.color}}</span>
                <br>
                <span>{{prezzo}} €</span>
            </div>
        </ng-template>

    </p-card>
</div>