<div (click)="clickBike()">
    <p-card>
        <ng-template pTemplate="header">
            <img *ngIf="bike && bike.img !== undefined" alt="Card" [src]="firstImage" class="image"/>
        </ng-template>
        <ng-template pTemplate="footer" class="footerStyle">
            <div class="idBike">{{bike?.brand}} - {{bike?.model}}</div>
            
            <div class="dettagliPrezzo">
                <div *ngIf="appointment">
                    <span class="details" *ngIf="user && user.name !== undefined"><br>Acquistata da: {{user.name}} {{user.lastName}} <br> 
                        <span>Data di acquisto: {{formatDateAppointment()}}</span>
                    </span>
                </div>
                <div *ngIf="booking">
                    <span>Data del noleggio: {{formatDateBooking()}}</span>
                </div>
                
                <div class="prezzoBox" *ngIf="ad && ad.price !== undefined">
                    <div class="prezzo">{{ad.price}} €</div>    
                </div>
            </div>
        </ng-template>
    </p-card>
</div>