<div>
    <div class="product">
        <img *ngIf="bicicletta && bicicletta.img !== undefined" alt="Card" [src]="imagePrincipal" class="imagePrincipale"/>
        <div *ngIf="bicicletta" class="details">
            <h1 class="marca">{{bicicletta.brand}}</h1>
            <h2 class="model">{{bicicletta.model}}</h2>
            <div>
                <label>Colore: {{bicicletta.color}}</label>
            </div>
            <div class="Taglia">
                <label>Taglia: {{bicicletta.size}}</label>
            </div>
            <br>
            <h1 class="prezzo">{{price}} €</h1>
            <label> {{prezzo_noTax}} tax escluse</label>
            <br>
            <br>
        </div>
    </div>
    <div class="immaginiPlus"> 
        <div *ngFor="let image of images">
            <img alt="Card" [src]="image" class="image" (click)="imageActualChange(image)"/>
        </div>
    </div>
    <div class="accordion">
        <p-accordion>
            <p-accordionTab header="Dettagli">
                <div *ngIf="bicicletta" class="Taglia">
                    <label>Colore: {{bicicletta.color}}</label>
                    <label>Taglia: {{bicicletta.size}}</label>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Informazioni aggiuntive">
                <p>
                    {{bicicletta?.info}}    
                </p>
            </p-accordionTab>
        </p-accordion>
    </div>

   
</div>