.footerStyle {
    display: flex;
    flex-direction: column;
}

.idBike {
    font-weight: bold;
}

.details{
    font-weight: lighter;
    font-size: small;
}
.dettagliPrezzo {
    display: flex;
    flex-direction: column;
}