<div>
  <div #body>
    <div class="sectionGenerale">
      <div class="textSection">
        <a routerLink="/noleggio"  label="noleggio" routerLinkActive="active-link" class='linkRow noleggio'>E-Bike in noleggio</a>
        <a routerLink="/negozi"  label="negozi" routerLinkActive="active-link" class='linkRow' >Visualizza Negozi</a>
      </div>
    </div>
    <div>
      <div class="titleMenu">
        <h2>E-Bike in noleggio</h2>
      </div>
      <div class="filters">

        <div class="labelCombo card ">
            <label>Marca</label>
            <p-autoComplete [(ngModel)]="marcaValue" [suggestions]="marcaFiltered" [dropdown]="true" (completeMethod)="filterMarca($event)" field="name"></p-autoComplete>
        </div>
        <div class="labelCombo">
            <label>Taglia</label>
            <p-autoComplete [(ngModel)]="tagliaValue" [dropdown]="true" [suggestions]="tagliaFiltered" (completeMethod)="filterTaglia($event)" field="name"></p-autoComplete>
        </div>
        <div class="labelCombo">
            <label></label>
            <p-autoComplete [(ngModel)]="coloreValue" [dropdown]="true" [suggestions]="coloreList" (completeMethod)="filterColore($event)" field="name"></p-autoComplete>
        </div>
    </div>
    <div *ngIf="viewAllBikes === false">
        <div class="view">
        <div *ngFor=" let bike of bikesNoleggio;  let i=index" >
            <div *ngIf="i<10">
            <app-ebike [bicicletta]="bike" [prezzo]="30"></app-ebike>
            </div>
        </div>
        
        </div>
        <div class="showMore">
            <p-button  label="Mostra tutti" class="showMoreBtn" (onClick)="viewAll()"></p-button>
        </div>
    </div>
    <div *ngIf="viewAllBikes" class="view">
        <div *ngFor=" let bike of bikesNoleggio;  let i=index" >
          <div>
            <app-ebike [bicicletta]="bike" [prezzo]="30"></app-ebike>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>