.info {
    display: flex;
    flex-direction: row;
    height: 70vh;
    .image {
        margin-top: 5vh;
        border-radius: 50%;
        width: 18vw;
        max-height: 32vh;
    }
    .user_data{
        margin-left: 4vh;
        display: flex;
        flex-direction: column;
    }
    .grid_style{
        display: grid;
        grid-template-columns: repeat(3, minmax(24vw, 1fr));
        align-items: center;
        margin: 0px 40px;
    }
    .labelGrid{
        margin-top: 8vh;
        display: flex;
        flex-direction: column;
    }
}

.btn {
    margin: 0px 40px;
}

.button {
    background-color: #01aaa9;
    color: #fff;
    border-radius: 10px;
    border-color: #01aaa9;
    font-size: large;
  }
.spanStyle {
    font-size: larger;
}
@media (max-width: 623px){
    .info {
        height: fit-content;
        flex-direction: column;
        .image {
            border-radius: 50%;
            width: 22vw;
            max-height: 9vh;
            margin: 0px 40px;
        }
        .grid_style{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0px 40px;
        }
        .labelGrid{
            margin-top: 2vh;
            display: flex;
            flex-direction: column;
        }
        .h1 {
            font-size: x-large;
        }
        .h2 {
            font-size: large;
        }
    }
    
  } 