<div class="spinner" *ngIf="mostraSpinner==true">
    <p-progressSpinner ></p-progressSpinner>
</div>
<div *ngIf="shopNull == true" class="noShop">
    <h2>Non sono presenti negozi</h2>
</div>
  <div *ngIf="mostraSpinner==false && !shopNull">
        <div>
            <div class="titleMenu">
              <h2>Shops</h2>
            </div>
            <div class="view">
                <div *ngFor=" let shop of shops;  let i=index" >
                    <div>
                        <app-shop [shop]="shop"></app-shop>
                    </div>
                </div>
            </div>
    
    </div>
  </div>