@import "../../../../node_modules/primeicons/primeicons.css";
@import '~primeicons/primeicons.css';


:host ::ng-deep .p-menubar {
  background-color: transparent;
  border-color: transparent;

}


.header {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 13vh;

  .BtnTitle {
    display: flex;
    align-items: center;
    column-gap: 3%;
  }
  .page_content,
  .title_content,
  .user-wrapper {
    display: flex;
    align-content: center;
    justify-content: left;
  }


  .hamburger-line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color:  #fff;
    border-radius: 4px;
    transition: transform 0.3s ease-out;
  }

  .page_content {
    justify-content: center;
  }

  .user-wrapper {
    justify-content: right;
    .user-info-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      row-gap: 5px;

      a {
        cursor: pointer;
      }
    }

  }

}

.logo {
    height: 13vh;
}
.divButton{
  display:flex
}


  .hamburger-line:nth-child(1) {
    top:0;
  }
  .hamburger-line:nth-child(2) {
    top:calc(50% - 1px);
  }
  .hamburger-line:nth-child(3) {
    bottom:0
  }

  .hamburger-button.active .hamburger-line:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
  }
  .hamburger-button.active .hamburger-line:nth-child(2) {
    opacity: 0;
  }
  .hamburger-button.active .hamburger-line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }


  :host ::ng-deep {
    .hamburger-button {
      .p-button {

        min-width: 25px;
        max-height: 25px;
        border-radius: 0;
        padding: 0.643rem 0rem;
      }
    }
  }
  
  
  .link {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 2vh;
    column-gap: 3vw;
    
    .linkRow {
    
    font-size: large;
    text-decoration: none;
    
    }
    .linkRow.active-link {
      font-weight: bold;
    }


  }
  
  .signup {
    background-color: #01aaa9;
    color: #fff;
    border-radius: 10px;
    border-color: #01aaa9;
    font-size: large;

  }

  .loginLogo {
    display: flex;
    flex-direction: row;
  }
  .header {
    .user-info-login {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 2vw;
        margin-top: 2vh;
        margin-right: 15px;
      }
  }
  .linkUser {
    display: flex;
    column-gap: 10vw;
  }

  .pi-user {
    font-size: larger;
    margin-right: 1vw;
    color: black
  }

  .p-button:enabled:hover {
    background: #01aaa9;
    color: #ffffff;
    border-color: #01aaa9;
}

.custom-menubar .p-menubar-root-list .p-submenu-list {
  left: 0 !important;
}

.custom-menubar .p-submenu-list {
  top: 100% !important;
}


