<div [ngClass]="['header']">
    <div class="BtnTitle">
      <!-- <button pButton *ngIf="user !== null" class="hamburger-button" id="hamburger-button" (click)="toggleMenu()">
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
      </button> -->
      <div [ngClass]="['title_content']">
          <a routerLink="/"  routerLinkActive="active-link" class='linkRow' >
            <img class= "logo" src="..\..\..\assets\images\logo.png"/>
         </a>
      </div>
    </div>
    <div class="linkUser">
        <div class="link">
            <a routerLink="/noleggio"  label="Noleggio" routerLinkActive="active-link" class='linkRow' >Noleggio E-Bike</a>
            <a routerLink="/vendita"  label="Acquisto" routerLinkActive="active-link" class='linkRow' >Acquisto E-Bike</a>
            <a routerLink="/form_noleggio"  label="form_inserimento" routerLinkActive="active-link" class='linkRow' >Noleggio E-Bike</a>
            <a routerLink="/form_vendita"  label="form_inserimento" routerLinkActive="active-link" class='linkRow' >Vendita E-Bike</a>
        </div>
        <div *ngIf="user" class = 'user-info-content'> 
            <span>Benvenuto {{user.username}}</span>
            <span><a (click)="logout()">Logout</a></span>
        </div>
        <div class="user-info-login">
            <div class="loginLogo">
                <i class="pi pi-user mr-2"></i>
                <div style="font-size: large;">Login</div>
            </div>
            <button pButton  label="Signup" class="signup"></button>
        </div>
    </div>
</div>

  
