


<div class="spinner" *ngIf="mostraSpinner">
    <p-progressSpinner ></p-progressSpinner>
</div>
<div *ngIf="bikesNull == true" class="noBikes">
  <h2>Nessuna delle tue biciclette è stata acquistata</h2>
  </div>
  <div *ngIf="mostraSpinner==false && !bikesNull">
      <div #body >
        <div>
          <div class="titleMenu">
              <h2>E-bike vendute</h2>
          </div>
          <div class="view">
              <div *ngFor=" let x of bikeSold;  let i=index" >
                  <app-ebike-ad [bike]="x.bike" [user]="x.user" [appointment]="x.appointment" [ad]="x.adsell"></app-ebike-ad>
              </div>
          </div>
        </div>
      </div>
  </div>