<div>
    <div class="product">
        <img *ngIf="bicicletta && bicicletta.img !== undefined" alt="Card" [src]="imagePrincipal" class="imagePrincipale"/>
        <div *ngIf="bicicletta" class="details">
            <h1 class="marca">{{bicicletta.brand}}</h1>
            <br>
            <h2 class="model">{{bicicletta.model}}</h2>
            <div class="Taglia">
                <label>Colore: {{bicicletta.color}}</label>
                <br>
                <label>Taglia: {{bicicletta.size}}</label>
            </div>
            <br>
            <h1 class="prezzo">{{prezzo}} €</h1>
            <label> {{prezzo_noTax}} tax escluse</label>
            <br>
            <br>
            <div class="btn">
                <div *ngIf="userLogged != null" class="showMore" >
                    <div *ngIf="userLogged != null" class="card flex justify-content-center">
                        <p-calendar class="max-w-full" [(ngModel)]="date" [disabledDates]="disabledDates"  placeholder="Seleziona la data del noleggio"></p-calendar>
                    </div>
                    <p-button  label="Prenota" class="showMoreBtn" (onClick)="prenota()"></p-button>
                </div>
                <div class="disponibile">
                    <div id="circle"></div> 
                    <label>Disponibile</label>  
                </div>
            </div>
        </div>
    </div>
    <div class="immaginiPlus"> 
        <div *ngFor="let image of images">
            <img alt="Card" [src]="image" class="image" (click)="imageActualChange(image)"/>
        </div>
    </div>
    <div class="accordion">
        <p-accordion>
            <p-accordionTab header="Dettagli">
                <div *ngIf="bicicletta" class="Taglia">
                    <label>Colore: {{bicicletta.color}}</label>
                    <br>
                    <label>Taglia: {{bicicletta.size}}</label>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Misure">
                <p>
                    Misure: {{bicicletta?.measure}}
                </p>
            </p-accordionTab>
        </p-accordion>
    </div>

    <div>
        <div class="titleMenu">
          <h2>Prodotti Simili</h2>
        </div>
        <div class="view">
          <div *ngFor=" let x of bikesSimili;  let i=index" >
            <div *ngIf="i<4">
                <app-ebike [bicicletta]="x.bike" [prezzo]="x.price"></app-ebike>
            </div>        
          </div>
        </div>
      </div>
</div>