<div>
    <div #body>
      <div class="sectionGenerale">
        <div class="textSection">
          <a routerLink="/form_noleggio"  label="form_noleggio" routerLinkActive="active-link" class='linkRow vendita'>Noleggio E-Bike</a>
          
        </div>
      </div>
      <div>
        <div class="titleMenu">
          <h2 >Noleggio E-Bike</h2>
          <!-- <h2 *ngIf="userLogged !== undefined && userLogged.type === 'P'">Vendita E-Bike</h2>
          <h2 *ngIf="userLogged !== undefined && userLogged.type === 'V'">Noleggio E-Bike</h2> -->
        </div>
      </div>
      <div class="view">
        <div class="labelCombo">
          <label>Marca*</label>
          <input type="text" pInputText placeholder="Inserisci la marca" [(ngModel)]="marca" class="p-inputtext-lg input"/>
        </div>
        <div class="labelCombo">
          <label>Modello*</label>
          <input type="text" pInputText placeholder="Inserisci il modello" [(ngModel)]="model" class="p-inputtext-lg input"/>
        </div>
        <div class="labelCombo">
          <label>Colore*</label>
          <input type="text" pInputText placeholder="Inserisci il colore" [(ngModel)]="colore" class="p-inputtext-lg input"/>
        </div>
        <div class="labelCombo">
          <label>Taglia*</label>
          <p-autoComplete [(ngModel)]="tagliaValue" [dropdown]="true" [suggestions]="tagliaFiltered" (completeMethod)="filterTaglia($event)" field="name"></p-autoComplete>
        </div>
        <div class="labelCombo">
          <label>Tipologia*</label>
          <input type="text" pInputText placeholder="Inserisci la tipologia" [(ngModel)]="tipologia" class="p-inputtext-lg input"/>
        </div>
        <div class="labelCombo">
          <label >Prezzo all'ora*</label>
          <input type="text" pInputText placeholder="Inserisci il prezzo" [(ngModel)]="prezzo" class="p-inputtext-lg input"/>
        </div>
        <div class="labelCombo">
          <label>Misure</label>
          <input type="text" pInputText placeholder="Inserisci le misure" [(ngModel)]="misure" class="p-inputtext-lg input"/>
        </div>
      </div>
      <div class="view" >
        <div class="labelCombo upload">
          <label>Immagini</label>
          <div class="upload">
            <p-fileUpload name="uploadedFiles[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)" [multiple]="true" accept="image/*" >
              <ng-template pTemplate="content">
                  <ul *ngIf="uploadedFiles.length">
                      <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                  </ul>
              </ng-template>
            </p-fileUpload>
          </div>
        </div>
      </div>
      <div class="submit">
        <button pButton  label="Invia" class="button" (click)="send()"></button>
      </div>
    </div>
</div>



