@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');
body, html, button, a {
    font-family: 'Roboto';
    color: #1f595c
    
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.pi {
    font-family: 'primeicons' !important;
  }