.info {
    display: flex;
    flex-direction: row;
    height: 40vh;
    margin: 0 80px;
    justify-content: flex-start;
    column-gap: 10vw;
}
.details {
    margin-top: 1vh;
  }
.name{
    
  font-size: xx-large;
  margin: 0px 4vh 3vh;
}
.otherDetails{
    
    margin-bottom: 0px;
    font-size: x-large;
}
.spinner {
    position: relative;
    height: 46vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.view {
    display: grid;
    grid-template-columns: repeat(5 , minmax(150px,1fr));
    column-gap: 2vw;
    align-items: center;
    margin: 0px 40px;
    row-gap: 4vh;
  }
:host ::ng-deep {

    .p-card .p-card-content {
        padding: 0;
      }
      .p-card .p-card-body {
        padding: 0.75rem;
      }
      .p-card .p-card-footer {
        padding: 0;
      }
    
      .p-autocomplete-dd .p-autocomplete-input
      {
        font-size: xx-small;
        height: 4vh;
        border-color: #01aaa9;

      }

    .p-autocomplete-dd .p-autocomplete-dropdown {
        background-color: #01aaa9;
        color: #fff;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 4vh;
        
    }

.p-autocomplete {
    .p-button {

    width: 3vw;
    }
}

.p-autocomplete-panel{
    background-color: white;
    height: 150px;
    font-size: xx-small;
}
.p-autocomplete-item {
    margin: 0;
    padding: 0.75rem 1.25rem;
    border: 0 none;
    color: #495057;
    background: transparent;
    transition: box-shadow 0.2s;
    border-radius: 0;
    font-size: medium;
}
.p-autocomplete-dd .p-autocomplete-input {
    font-size: large;
    height: 4vh;
    border-color: #01aaa9;
}
.p-autocomplete-dd .p-autocomplete-input {
    color:#1f595c
}


}

.noBikes{
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  height: 37vh;
}

.imagePrincipale {
  width: 18vw;
  object-fit: cover;
}

.view.spinner-active .content-below-spinner{
  opacity: 0.5;
}
.labelCombo {
  display: flex;
  flex-direction: column ;
  align-items: flex-start;
  font-size: large;
  row-gap: 1vh;
}


.review {
  display: flex ;
  flex-direction: row;
  column-gap: 3vw;
  margin: 0 10px;
  font-size: large;
}

.reviewButton {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}
.rating {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
  
}
.feedback {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}

.textArea {
  width: 20vw;
}


.submit {
  display: flex;
  margin-top: 50px;
  margin: 0 10px;
}

.button{
  background-color: #01aaa9;
  color: #fff;
  border-radius: 10px;
  border-color: #01aaa9;
  font-size: large;
}

.p-button:enabled:hover {
  background: #01aaa9;
  color: #ffffff;
  border-color: #01aaa9;
}
.paginator{
  display: flex;
  flex-direction: column;
  gap: 3px; 
  justify-content: center;
}
.prova{
  display: flex;
  flex-direction: row;
  column-gap: 3vw;
  justify-content: center;
}
@media (max-width: 623px){
  .view {
    display: grid;
    grid-template-columns: auto;
    column-gap: 2vw;
    align-items: center;
    margin: 0px 40px;
    row-gap: 4vh;
  }
  .info {
    display: block;
    height: fit-content;
    margin: 0 80px;
  }
.imagePrincipale {
  width: -webkit-fill-available;
  object-fit: cover;
  }
  .name{
    
    font-size: x-large;
    margin: 4vh 4vh 3vh;
  }
  .textArea {
    width: 40vw;
  }
}